@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.view:hover {
  text-decoration: underline;
}
.item {
  width: 95%;
  border-radius: 10px;
  height: max-content;
  font-family: 'Fira Sans';
  img {
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
  }
  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    button {
      display: block;
      margin: 0 auto;
      margin-top: 5px;
      margin-bottom: 5px;
      border: none;
      background-color: #ffdbf0;
      color: black;
      padding: 5px 15px;
      text-transform: none;
    }
    .detail {
      h3 {
        font-weight: 400;
        font-size: large;
        height: 45px;
      }

      h3,
      p,
      div {
        margin: 0;
        text-align: center;
        font-weight: 300;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
// button:hover {
//   cursor: pointer;
//   background-color: #000000;
//   color: #ffdbf0;
// }
a:hover {
  text-decoration: underline;
}
