button {
  text-decoration: none;
  color: black;
  background-color: inherit;
}
button:hover {
  text-decoration: underline;
  background-color: inherit;
}
Button:hover {
  background-color: none;
}
MenuItem {
  background-color: white;
}
MenuItem:hover {
  background-color: white;
}

// .MenuContainer {
//   background-color: #333;
//   color: white;
// }
